<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Rock Paper Scissor</title>
</head>

<body>
    <section class="game">

        <!--Title -->
        <div class="title">Rock Paper Scissor</div>
        <div class="enterMoves">Please Mention Number of Moves and Click Enter</div>
        <br>
        <input class="remainingMoves" type="text" />
        <br>

        <!--Display Score Of Player And Computer -->
        <div class="score">
            <div class="playerScore">
                <h2 class="opponent">Player</h2>
                <p class="p-count count">0</p>

            </div>
            <div class="computerScore">
                <h2 class="opponent">Computer</h2>
                <p class="c-count count">0</p>
            </div>
        </div>

        <div class="move" style="display:none;">Choose Your Move</div>

        <!--Number Of Moves Left Before Game Ends -->
        <div style="display:none" class="movesleft"></div>

        <!--Options Available To Player To Play Game -->
        <div class="options" style="display:none;">
            <button class="rock">Rock</button>
            <button class="paper">Paper</button>
            <button class="scissor">Scissors</button>
        </div>

        <!--Computer Selection -->
        <div class="selection"></div>

        <!--Final Result Of Game -->
        <div class="result"></div>

        <!--Reload The Game -->
        <button class="reload"></button>

    </section>

    <script src="./js/result.js"></script>
</body>

</html>